<link href="assets/js/animate/animate.min.css" rel="stylesheet">
<body id="page-top">
<!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url(assets/banner1.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I am Keshav Gupta</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Java Developer,Angular Developer,Web Developer,Frontend Developer</span><strong class="text-slider"></strong></p>
          <ngx-typed-js  [strings]="['Java Developer', 'Angular Developer','Web Developer','Frontend Developer']" [shuffle]="true" [typeSpeed]="40" [loop]="true">
            <p class="intro-subtitle typing"></p>
          </ngx-typed-js>
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->
</body>



<!-- <div style="text-align:center">
    <p style="text-align:right">
      <button (click)="dash()">
        Go to Dashboard
      </button>
    </p>
  </div> -->
